@font-face {
     font-family: 'NotoSerifJP';
     src:url('@/assets/fonts/NotoSerifJP-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
}

body {
     font-family: "NotoSerifJP", serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 700;
   }
   
   h1 {
     /* font-size: 60px; */
     font-size: 3.75rem;
   }
   
   h2 {
     font-size: 32px;
   }
   
   h3 {
     /* font-size: 20px; */
     font-size: 1.25rem;
   }
   
   h4 {
     /* font-size: 18px; */
     font-size: 1.125rem;
   }
   
   h5 {
     /* font-size: 16px; */
     font-size: 1rem;
   }